*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
.idea
dist
layers
coverage
.env
.DS_Store

# Yarn Berry
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
.pnp.*