name: Deploy CDK

on:
  push:
    branches:
      - main

permissions:
  id-token: write      # Needed to request OIDC token
  contents: read       # For checkout

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::566348719618:role/Github-Actions
          aws-region: us-west-2

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22'

      - name: Install CDK
        run: npm install -g aws-cdk@3

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy CDK Stack
        run: cdk deploy --require-approval never
